header div div button {
    width: 100%;
    background-color:green;
}
header div div button.back {
    width: 100%;
    background-color:black;
}

header div div button.notif {
    width: 100%;
    background-color:green;
}

header div div button.logout {
    width: 100%;
    background-color:red;
}