body {font-family: Arial, Helvetica, sans-serif;}
h2 {text-align: center;}
form {text-align: center;}
/* test */
img {
border-radius: 40px;
padding: 10px;
}

button{
   background-color: rgb(50, 74, 207);
   border: none;
   color: rgb(255, 255, 255);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 30px;

}

header .logo{
  position: relative
}

header div div button {
width: 100%;
}
header hr {
border: 1px solid black;
}