<div class="container mt-3" id="loginForm">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <img id ="logo" src="../../assets/images/logo.png"/>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4" id="login">login</div>
    <div class="col-4"></div>
  </div>
  <!-- email form -->
  <div class="row">
    <div class=col-12>
      <div class="label">Email address </div>
      <input type="text"class="forms" id="email">
    </div>
  </div>
  <!-- password form -->
  <div class="row">
    <div class="col-12">
      <div class="label">password</div>
      <input type="password"class="forms" id="password"><br>
    </div>
  </div>
  <!-- button-->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <button id="loginButton" class="btn btn-primary">login</button>
    </div>
    <div class="col-2"></div>
  </div>
  <!-- of  -->
  <div class="row">
    <div class="col-12">
      <hr class="hr">
      <div class="or">or</div>
    </div>
    <!-- signup -->
    <a href="#"id="signup">signup here</a>
  </div>
</div>