<div class="container" id="loginForm">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" id="login">login</div>
      <div class="col-4"></div>
    </div>
      <!-- email form -->
    <div class="row">
     <div class="label">Email address </div>
      <input type="text"class="forms" id="email">
    </div>
    <!-- password form -->
    <div class="row">
     <div class="label">password</div>
      <input type="password"class="forms" id="password"><br>
      <!-- button-->
      <button id="loginButton">login</button>
      <!-- of  -->
      <div>
        <hr class="hr">
        <div class="or">or</div>
     </div>
     <!-- signup -->
     <a href="#"id="signup">signup here</a>
    </div>
</div>