<!-- header -->
<header class="container mt-3">
    <div class="row">
    <!-- deze button gaat terug naar de vorgige pagina  -->
        <div id="backBTN" class="col-3">
            <button type= "button"(click)="back()" class="btn btn-primary back"><i class="bi bi-arrow-left"></i></button>
        </div>
    <!-- als je op deze button klikt verschijnen alle notificaties in een dropdown -->
        <div id="notifBTN" class="col-3">
            <button type="button" (click)="dropdown()" class="btn btn-primary notif"><i class="bi bi-bell"></i></button>
        </div>
    <!-- dit is gwn een extra div om de buttons uit elkaar te halen  -->
        <div class="col-3">
        </div>
    <!-- als je op deze button klikt ga je terug naar de login page en word de sessie beeindigd! -->
        <div id="logoutBTN" class="col-3">
            <button type="button" (click)= "logout()" class="btn btn-primary logout"><i class="bi bi-box-arrow-right"></i></button>
        </div>
    </div>
    <hr />
  </header>
<!-- einde header! -->
<!-- container met alles er in -->
<main class="container px-4">
    <!-- hier komt de naam van het desbetreffende dier dmv js  -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 id="animalName" class="text-center"> {{useranimal$ ? useranimal$.name :  "name"}} </h1>
        </div>
        <div class="col-4"></div>
    </div>
    <!-- div voor de grafiek  -->
    <div class="row">
        <div class="col-12 blueBox">
            <chart [type]="type" [data]="data" [options]="options"></chart>
        </div>
    </div>
    <!-- buttons onder de grafiek -->
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="gewicht">gewicht</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="bcs">BMI</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="lengte">lengte</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="voeding">voeding</button>
        </div>
    </div>
    <!-- div voor de huidige informatie -->
    <div id="infobox" class="row">
        <div class="col-12 blueBox">
            <p>Verjaardag: <b>{{useranimal$ ? useranimal$.birthday : ""}}</b></p>
            <p>Grootte: <b>{{useranimal$ ? useranimal$.size : ""}}cm</b></p>
            <p>Gewicht: <b>{{useranimal$ ? useranimal$.weight : ""}}kg</b></p>
            <p>Chipnummer: <b>{{useranimal$ ? useranimal$.chip : ""}}</b></p>
            <p>Verzekeringsnummer: <b>{{useranimal$ ? useranimal$.insurance : ""}}</b></p>
            <p>Medicatie: <b>{{animalMed$ ? animalMed$[0].name : "geen gevonden"}}</b></p>
        </div>
    </div>
    <!--buttons voor aanpassen & of med toevoegen -->
    <div class="row">
        <div class="col-4">
            <button type="button" (click)="edit()" class="btn btn-primary" id="aanpassen">aanpassen</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="delete()" class="btn btn-primary" id="delete">delete</button>
        </div>
        
        <div class="col-4">
            <button type="button"(click)="medication()" class="btn btn-primary" id="medicatie">medicatie</button>
        </div>
    </div>
</main>