<img id="background-image" src="https://www.myhappypet.be/sites/bemhp3/files/adobestock_60709984.jpeg"/>
<!-- header -->
<header class="container mt-3">
    <div class="row">
    <!-- deze button gaat terug naar de vorgige pagina  -->
        <div id="backBTN" class="col-3">
            <button type= "button"(click)="back()" class="btn btn-dark"><i class="bi bi-arrow-left"></i></button>
        </div>
    <!-- als je op deze button klikt verschijnen alle notificaties in een dropdown -->
        <div id="notifBTN" class="col-3">
            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i class="bi bi-bell"></i></button>
        </div>
    <!-- dit is gwn een extra div om de buttons uit elkaar te halen  -->
        <div class="col-3">
        </div>
    <!-- als je op deze button klikt ga je terug naar de login page en word de sessie beeindigd! -->
        <div id="logoutBTN" class="col-3">
            <button type="button" (click)= "logout()" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></button>
        </div>
    </div>
</header>
<!-- einde header! -->
<!-- container met alles er in -->
<main class="container px-4">
    <!-- div voor de grafiek en naam-->
    <div class="row">
        <div class="col-12 blueBox">
            <h1 id="animalName" class="text-center"> {{useranimal$ ? useranimal$.name :  "name"}} </h1>
            <chart [type]="type" [data]="data" [options]="options"></chart>
        </div>
    </div>
    <!-- buttons onder de grafiek -->
    <div class="row">
        <div class="col-4">
            <button (click)="chartShowWeight()" type="button" class="btn btn-primary" id="gewicht">gewicht</button>
        </div>
        <div class="col-4">
            <button (click)="chartShowHeight()" type="button" class="btn btn-primary" id="lengte">hoogte</button>
        </div>
        <div class="col-4">
            <button (click)="chartShowBMI()" type="button" class="btn btn-primary" id="bcs">BMI</button>
        </div>
    </div>
    <!-- div voor de huidige informatie -->
    <div id="infobox" class="row">
        <div class="col-12 blueBox">
            <p>Verjaardag: <b>{{useranimal$ ? useranimal$.birthday : ""}}</b></p>
            <p>Grootte: <b>{{useranimal$ ? useranimal$.size : ""}}cm</b></p>
            <p>Gewicht: <b>{{useranimal$ ? useranimal$.weight : ""}}kg</b></p>
            <p>BMI: <b>{{ animalBMI$ }}</b></p>
            <p>Chipnummer: <b>{{useranimal$ ? useranimal$.chip : ""}}</b></p>
            <p>Verzekeringsnummer: <b>{{useranimal$ ? useranimal$.insurance : ""}}</b></p>
            <p>Medicatie: <b>{{animalMed$ ? animalMed$[0].name : "geen gevonden"}}</b></p>
        </div>
    </div>
    <!--buttons voor aanpassen & of med toevoegen -->
    <div class="row">
        <div class="col-4">
            <button type="button" (click)="edit(useranimal$.id)" class="btn btn-primary" id="aanpassen">aanpassen</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="delete(useranimal$.id)" class="btn btn-danger" id="delete">delete</button>
        </div>
        <div class="col-4">
            <button type="button"(click)="medication()" class="btn btn-primary" id="medicatie">medicatie</button>
        </div>
    </div>
</main>