header div div button {
    width: 100%;
    background-color:green;
}
header div div button.back {
    width: 100%;
    background-color:black;
}

header div div button.notif {
    width: 100%;
    background-color:green;
}

header div div button.logout {
    width: 100%;
    background-color:red;
}
header hr {
    border: 1px solid black;
}
main div div button {
    width: 100%;
    margin-top: 5px;
}

#dropdown {
    width: 200px;
    height:40px;
    background-color:#0275d8 ;
}
#animalName {
    font-weight: bold;
}
#infobox div p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.blueBox {
    border-radius:10px;
    min-height: 150px;
    background-color:lightblue;
    margin-top: 10px;
    border:1px solid gray
}