  <!-- header -->
  <header class="container mt-3">
    <div class="row">
        <div id="backBTN" class="col-3">
            <button type="button" class="btn btn-primary">Back</button>
        </div>
        <div id="notifBTN" class="col-3">
            <button type="button" class="btn btn-primary">Notif</button>
        </div>
        <div class="col-3">
        </div>
        <div id="logoutBTN" class="col-3">
            <button type="button" class="btn btn-primary">Logout</button>
        </div>
    </div>
    <hr />
</header>
<!-- hier komt de naam van het desbetreffende dier dmv js  -->
<main class="container px-4">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 id="animalName" class="text-center">Luna</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <!-- div voor de grafiek  -->
    <div class="row">
        <div class="col-12 blueBox"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="gewicht">gewicht</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="bcs">bcs</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="lengte">lengte</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="voeding">voeding</button>
        </div>
    </div>
    <!-- div voor de huidige informatie -->
    <div class="row">
        <div class="col-12 blueBox">
        </div>
    </div>
    <!--buttons voor aanpassen & of med toevoegen -->
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-primary" id="aanpassen">aanpassen</button>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" class="btn btn-primary" id="medicatie">medicatie</button>
        </div>
    </div>
</main>