
/* in deze container zit alles */
.container{
   width:350px;
}
#logo {
   width: 100%;
}
/* login wat bovenaan staat */
#login{
   /* font-family: 'Kaushan Script', cursive; */
   font-size:50px;
   margin-left:-25px;
}

/* inputveld nmae */
.name{
   width:100%;
   height:35px;
}
/* inputveld email */
.email{
   width:100%;
   height:35px;
}
/* inputveld password */
.password{
   width:100%;
   height:35px;
}
/* email adres and password */
.label{
   font-size:20px;
   margin-left:17px;
}
/* inputfields  */
.forms-controller{
   margin-top:10px;
   margin-left:27px;
   width:300px;
   text-align:center;
}

/* signup button  */
#signupButton{
   background-color: #7b2430;
   border-color: #ffffff80;
   margin-top: 10px;
   font-size: 20px;
   width: 100%;
   border-radius: 15px;
   font-family: cursive;
}

/* login button  */
#loginButton{
   background-color: #b92f37;
   border-color: #ffffff66;
   margin-top: 10px;
   font-size: 20px;
   width: 100%;
   border-radius: 15px;
   font-family: cursive;
}


div#loginForm {
   border: 1px;
   border-color: #b6262e;
   border-style: solid;
   background-color: #bea7b5ad;
   box-shadow: chocolate;
   margin-top: 74px!important;
   border-radius: 12px;
   width:fit-content;
}

div#login {
   font-size: 50px;
   font-weight: 100;
}

#background-image {
   position:absolute;
   left:0px;
   top:0px;
   width: 100%;
   height: 100%;
   z-index:-1;
   object-fit: cover;
}