<div class="wrapper">
<div class="container">
    <div class="container mt-12" class="card" >
        <!-- input veld name -->
        <div class="row -md">
            <div class="col-1"></div>
            <div class="col-10">
                <input type="text" #name placeholder="naam" class="name">
            </div>
            <div class="col-1"></div>
        </div>
      <!-- input veld  email -->
     <div class="row -md">
        <div class="col-1"></div>
        <div class="col-10">
            <input type="text" #email placeholder="email" class="email">
        </div>
        <div class="col-1"></div>
     </div>
     <!-- input veld password -->
     <div class="row -md">
        <div class="col-1"></div>
        <div class="col-10">
            <input type="password" #password placeholder="kies uw wachtwoord" class="password">
        </div>
        <div class="col-1"></div>
     </div>
     <!-- button register -->
     <div class="row -md">
        <div class="col-1"></div>
        <div class="col-10">
            <button (click)="makeUser(name.value,email.value,password.value)" class="register">signup</button>
        </div>
        <div class="col-1"></div>
     </div>
     <!-- p or login if you already have an acc -->
     <div class="row -md">
        <div class="col-1"></div>
        <div class="col-10" class="or">
        or
        </div>
        <div class="col-1"></div>
     </div>
     <!-- buton to login if you have an acc -->
     <div class="row -md">
        <div class="col-1"></div>
        <div class="col-10">
            <button (click)="login()" class="login">login</button>
           
        </div>
        <div class="col-1"></div>
     </div>
    </div>
</div>
</div>